.top-page-header{
  width: 100vw;
  height: 80vh;
  background-image: url("/images/topimage.jpg");
  background-size: cover;
  background-position: left center;
  padding-top: 10px;
  &__top-bar{
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid gold;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  &__content{
    color: white;
    
  }
}