.recommend-container{
  position: relative;
  width: 90vw;
  background: white;
  margin: auto;
  border: 1px solid navajowhite;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-image: url("/food-image1.jpg");
  background-size: 30vw auto;
  background-repeat: no-repeat;
}

.recommend-container h2{
  font-size: 30px;
  margin-top: 80px;
  color: #ff6601;
  text-shadow: 3px 3px white;
}
.recommend-container h3{
  font-size: 20px;
  margin-top: 20px;
}
.recommend-container h5{
  font-size: 15px;
  margin-top: 30px;
}

.title-bar{
  background: #ffdcb9;
  line-height: 50px;
  font-weight: bold;
}

.graph-image{
  display: block;
  width: 60vw;
  margin: 30px auto 50px;
}
.food-index-image{
  width: 80vw;
}
.recommend-btn{
  line-height: 100px;
  padding: 15px;
  text-shadow: 0 -1px 0 #bd5e00;
  border: 1px solid #cc6600;
  background: linear-gradient(to bottom, #ff9124, #f07700);
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
}
.bold-text{
  font-weight: bold;
}
.orange-text{
  color: #ff7f00;
}

@media (max-width: 960px) {
  .recommend-container h2{
    font-size: 25px;
    margin-top: 60px;
  }
}

@media (max-width: 640px) {

  .recommend-container{
    padding: 10px 0;
  }

  .recommend-container h2{
    font-size: 20px;
    margin-top: 20px;
    padding: 0 20px;
  }

  .recommend-container h3{
    font-size: 15px;
    padding: 0 20px;
  }

  .recommend-container h5{
    font-size: 13px;
    margin-top: 20px;
    padding: 0 20px;
  }

  .recommend-btn{
    line-height: 50px;
    padding: 7px;
    font-size: 15px;
    border-radius: 3px;
  }

  .recommend-container .title-bar{
    font-size: 10px;
    line-height: 30px;
    font-weight: bold;
  }

  .graph-image{
    display: block;
    width: 85vw;
    margin: 10px auto 20px;
  }

}