.header-container{
  width: 100vw;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
.header-container-top-bar{
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.header-logo{
  width: 250px;
  height: 50px;
}
.auth-nav{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.auth-nav a{
  margin-top: 10px;
  height: 30px;
}

.nav-link{
  line-height: 30px;
  font-size: 15px;
  padding: 0 5px;
  border: 1px solid #ACB6E5;
  border-radius: 5px;
  margin-left: 10px;
  color: #1d68a7;
}
.nav-link:hover{
  border: 1px solid #4c65d4;
  color: #212529;
}

.welcome-message{
  text-align: center;
  font-size: 15px;
  line-height: 50px;
  margin-right: 10px;
}
.search-form{
  text-align: center;
}
.search-input{
  width: 400px;
  line-height: 40px;
}
.search-btn{
  width: 50px;
  line-height: 40px;
  vertical-align: middle;
  background-color: gold;
  border-radius: 3px;
  border: 2px solid orange;
}
.search-btn i{
  font-size: 20px;
  color: white;
}

@media (max-width: 960px) {
  .search-form{
    margin-top: 15px;
  }
}

@media (max-width: 640px) {
  .header-container{
    width: 100vw;
    box-shadow: none;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .header-container-top-bar{
    margin: 0 5px;
  }
  .header-logo{
    width: 125px;
    height: 25px;
  }
  .auth-nav{
    margin: 0;
  }
  .auth-nav a{
    margin: 0;
    height: 25px;
    margin-left: 5px;
  }
  .welcome-message{
    display: none;
  }
  .nav-link{
    line-height: 25px;
    font-size: 10px;
    border-radius: 2px;
  }
  .search-form{
    margin: 5px;
  }
  .search-input{
    width: 200px;
    line-height: 20px;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  .search-btn{
    width: 20px;
    line-height: 20px;
    border-radius: 3px;
    border: 1px solid orange;
  }
  .search-btn i{
    font-size: 10px;
  }
}