.confirm-link{
  text-align: center;
  background-color: blanchedalmond;
  line-height: 50px;
}

.each-post{
  margin: 0 auto 70px;
  width: 50vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  background: white;
}
.top-bar{
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.user-info{
  display: flex;
  line-height: 80px;
}
.user-image-wrapper{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.user-name{
  font-weight: bold;
  line-height: 80px;
  font-size: 15px;
  overflow: hidden;
}
.user-link{
  margin-top: 25px;
  height: 30px;
  width: 50px;
  background-color: darkorange;
  border: none;
  border-radius: 5px;
  text-align: center;
  border-bottom: solid 1px peru;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.user-link:hover{
  background-color: chocolate;
}
.user-link i{
  font-size: 15px;
  color: white;
  line-height: 30px;
}
.post-main-container{
  display: flex;
  width: 50vw;
}
.image-wrapper{
  position: relative;
  overflow: hidden;
  background: white;
}
.post-image-wrapper{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 30vw;
  height: 30vw;
}
.hover-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 20px 10px;
  overflow-y: hidden;
}
.hover-wrap:hover{
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
}
.hover-post-title{
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  margin: 5px 0;
}
.hover-tag{
  float: left;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0;
  margin-right: 10px;
  font-size: 12px;
}
.inside-image{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.right-box{
  width: 20vw;
}
.post-title{
  padding: 0 15px;
  line-height: 50px;
  height: 50px;
  font-size: 15px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: forestgreen;
}
.post-content{
  padding: 15px;
  width: 20vw;
  height: calc(30vw - 160px);
  font-size: 12px;
  overflow-y: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.post-tags{
  padding: 0 15px;
  line-height: 40px;
  height: 80px;
  font-size: 12px;
  overflow-y: scroll;
}
.post-tags-show-page{
  text-align: left;
  font-size: 15px;
  border: 1px solid silver;
  border-radius: 3px;
  height: 60px;
  line-height: 60px;
}
.post-tags a{
  background-color: rgba(200, 200, 200, 0.5);
  padding: 5px;
  border-radius: 3px;
}
.post-tags-show-page a{
  padding: 10px;
  margin-right: 10px;
}

.under-bar{
  height:30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.post-date{
  line-height: 30px;
  font-size: 12px;
  color: rgb(128, 128, 128);
  text-align: right;
  padding-right: 20px;
}

.post-tags-sd{
  display: none;
}
.post-date-sd{
  display: none;
}

@media (max-width: 960px) {
  
  .each-post{
    margin: 0 auto 20px;
    width: 90vw;
    box-shadow: none;
  }
  .top-bar{
    height: 50px;
    padding: 0 10px;
  }
  .user-info{
    line-height: 50px;
  }
  .user-image-wrapper{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
    border: none;
  }
  .user-name{
    line-height: 50px;
    font-size: 15px;
  }
  .user-link{
    margin-top: 10px;
    height: 30px;
    width: 40px;
    border: none;
    border-radius: 3px;
  }
  .user-link i{
    font-size: 15px;
    line-height: 30px;
  }
  .post-main-container{
    width: 90vw;
  }
  .post-image-wrapper{
    width: 60vw;
    height: 60vw;
  }
  .hover-wrap{
    padding: 3px;
  }
  .hover-post-title{
    font-size: 10px;
    margin-bottom: 2px;
  }
  .hover-tag{
    border-radius: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    font-size: 10px;
  }
  .right-box{
    width: 30vw;
  }
  .post-title{
    padding: 0 5px;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
  }
  .post-content{
    padding: 5px;
    width: 30vw;
    height: calc(60vw - 160px);
    font-size: 13px;
  }
  .post-tags{
    padding: 0 5px;
    line-height: 30px;
    height: 90px;
    font-size: 10px;
    overflow-y: scroll;
  }
  .post-tags-show-page{
    font-size: 10px;
    width: 80vw;
    border: 1px solid silver;
    border-radius: 3px;
    height: 60px;
    line-height: 30px;
    margin: auto;
  }
  .post-tags a{
    padding: 5px;
    border-radius: 3px;
  }
  .post-tags-show-page a{
    padding: 3px;
    margin-right: 3px;
  }
  
  .under-bar{
    height: 20px;
  }
  .post-date{
    line-height: 20px;
    font-size: 10px;
    padding-right: 5px;
  }
}

@media (max-width: 640px) {

  .confirm-link{
    line-height: 30px;
    font-size: 10px;
  }

  .each-post{
    margin: 0 auto 20px;
    width: 100vw;
    border-left: none;
    border-right: none;
  }

  .top-bar{
    height: 30px;
    padding: 0 5px;
  }
  .user-info{
    line-height: 30px;
  }
  .user-image-wrapper{
    width: 25px;
    height: 25px;
    margin-top: 2.5px;
    margin-right: 5px;
  }
  .user-name{
    line-height: 30px;
    font-size: 10px;
  }
  .user-link{
    margin-top: 5px;
    height: 20px;
    width: 40px;
  }
  .user-link i{
    font-size: 10px;
    line-height: 20px;
  }

  .post-main-container{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .right-box{
    width: 40vw;
  }
  .post-title{
    padding: 0 5px;
    line-height: 30px;
    height: 30px;
    font-size: 10px;
  }
  .post-content{
    padding: 5px;
    width: 40vw;
    height: calc(60vw - 30px);
    font-size: 10px;
    border-bottom: none;
  }
  .post-tags{
    display: none;
  }
  .hover-tag{
    display: none;
  }
  
  .under-bar{
    display: none;
  }
  .post-tags-show-page{
    display: block;
  }
  .post-tags-sd{
    display: block;
    width: 100vw;
    padding: 0 5px;
    line-height: 30px;
    height: 30px;
    font-size: 10px;
    overflow: hidden;
  }
  .post-tags-sd a{
    background-color: rgba(200, 200, 200, 0.5);
    padding: 3px;
    border-radius: 2px;
  }
  .post-date-sd{
    display: block;
    width: 100vw;
    line-height: 15px;
    font-size: 10px;
    color: rgb(128, 128, 128);
    padding: 0 5px;
  }
}